<div class="login-wrapper"fxLayout="row"fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title class="reset-text">Password Reset</mat-card-title>
        </mat-card-header>
        <div *ngIf="errorMessage" class="text-danger small">{{ errorMessage }}</div>
        <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="verifyEmail()" *ngIf="!verifed">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email" required>
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" class="btn-block" type="submit">Verify</button>
            <a class="login-rerout-link" [routerLink]="['/login']">Return to login</a>
        </form>
        <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="formSubmitted()" *ngIf="verifed && !changeComplete">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="New Password" type="password" formControlName="password" required>
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" class="btn-block" type="submit">Confirm</button>
        </form>
        <mat-card-content *ngIf="changeComplete">
            <h2 class="password-change">You have successfully changed your password</h2>
            <a class="login-rerout-link" [routerLink]="['/login']">Return to login</a>
        </mat-card-content>
    </mat-card>
</div>
